DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA

AUTH_SECRET=xxxxxxxxxxxxxxxx
AUTH_URL=http://localhost:3000

PUTER_API_KEY=sk-ant-api03-xxxxxxxxxxxxxxxx

GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxxx
GITHUB_ID=xxxxxxxxxxxxxxxx
GITHUB_SECRET=xxxxxxxxxxxxxxxx
